<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0 sticky-top">
    <div class="container">
      <a class="navbar-brand" href="<%= holvamp_icon_alt.to %>"><img src="/images/img/logo/<%= holvamp_icon_alt.icon %>" alt="<%= holvamp_icon_alt.icon_alt %>"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <% pages.forEach(page => { %>
              <li class="nav-item">
                <a class="nav-link" href="<%= page.to %>"><%= page.page_title %></a>
              </li>
            <% }) %>
        </ul>
      </div>
    </div>
</nav>