<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<% const blogs = blog_resource[0] %>
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!--================================
=            Page Title            =
=================================-->
  <section class="section page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <!-- Page Title -->
          <h1><%= blogs.name %></h1>
          <!-- Page Description -->
          <p> 
            <%= blogs.description %>
          </p>
          <small class="text-muted">Terakhir disunting pada: <%= new Date(blogs.updated).toISOString().split('T')[0] %> </small>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Page Title  ====-->
  <section class="post-grid section pt-0">
  <div class="container">
    <div class="row">
  <% const posts = blog_posts_data[0].items %>
  <% posts.forEach(post => { %>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <article class="post-sm">
          <!-- Post Image -->
          <div class="post-thumb">
            <a href="/blogs/<%= post.id %>"><img class="w-100" src="images/blog/post-01.jpg" alt="Post-Image"></a>		
          </div>
          <!-- Post Title -->
          <div class="post-title">
            <h3><a href="/blogs/<%= post.id %>"><%= post.title %></a></h3>
          </div>
          <!-- Post Meta -->
          <div class="post-meta">
            <ul class="list-inline post-tag">
              <li class="list-inline-item">
                <img src="<%= post.author.image.url %>" alt="author-thumb">
              </li>
              <li class="list-inline-item">
                <a href="/blogs/<%= post.id %>"><%= post.author.displayName %></a>
              </li>
              <li class="list-inline-item">
                Dipublikasi pada: <%= new Date(post.published).toISOString().split('T')[0] %>
              </li>
            </ul>
          </div>
          <!-- Post Details -->
          <!-- <div class="post-details"> -->
          <!-- </div> -->
        </article>
      </div>
      <% }) %>
      
    </div>
  </div>
</section>
<!-- JOIN-US -->
<%- include('layouts/Join-us-layout') %>
<!--=====================================
=            Footer			            =
======================================-->
<%- include('layouts/footer-layout') %>
<!--====  End of Footer  ====-->                                                                                                            