<!-- 
===============================================
Blogs mengambil data dari API local (sementara)
===============================================
-->
<% const holvamp_datas = holvamp_api %> 
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!--================================
=            Page Title            =
=================================-->
  <section class="section page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <!-- Page Title -->
          <h1>Holvamp Blogs</h1>
          <!-- Page Description -->
          <p> 

          </p>
          <p class="blockquote mt-2 text-muted"> 
            Mau belajar apa hari ini?
          </p>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Page Title  ====-->
  <section class="post-grid section pt-0">
  <div class="container">
    <div class="row">
      <% holvamp_datas.forEach(course => { %>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <article class="post-sm">
            <!-- Post Image -->
            <div class="post-thumb">
              <a href="/learns/blogs/<%= course.label %>"><img class="w-100" src="/images/blog/<%= course.image_course %>" alt="<%= course.course %> "></a>		
            </div>
            <!-- Post Title -->
            <div class="post-title">
              <h3 style="font-weight: 500;"><a href="/learns/blogs/<%= course.label %>">Belajar <%= course.course %></a></h3>
            </div>
            <!-- Post Meta -->
            <li class="list-inline-item">
              <a href="/learns/blogs/<%= course.label %>"><cite>Oleh: <%= course.by %></cite></a>
            </li>
            <div class="post-meta">
              <ul class="list-inline post-tag">
                <!-- <li class="list-inline-item">
                  <img src="" alt="author-thumb">
                </li> -->
              </ul>
            </div>
            <!-- Post Details -->
            <div class="post-details">
              <p style="color: #808080;">
                <%= course.desc %> 
              </p>
            </div>
          </article>
        </div>
      <% }) %>
      
    </div>
  </div>
</section>
<!-- JOIN-US -->
<%- include('layouts/join-us-layout') %>
<!--=====================================
=            Footer			            =
======================================-->
<%- include('layouts/footer-layout') %>
<!--====  End of Footer  ====-->                                                                                                            