<!-- 
=====================================
learn mengambil data dari Blogger API
=====================================
-->
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!-- pagination -->
<%- include('layouts/pagination-layout') %> 
<!-- End of pagination -->
<!--====================================
=            Single Article            =
=====================================-->
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				<!-- Single Post -->
				<article class="single-post">
					<!-- Post title -->
					<div class="post-title text-center">
						<h1><%= post_data.title %></h1>
						<!-- Tags -->
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<img src="<%= post_data.author.image.url %>" alt="author-thumb">
							</li>
							<li class="list-inline-item">
								<span><%= post_data.author.displayName%></span>
							</li>
							<li class="list-inline-item">
								<span>Dipublikasi pada: <%= new Date(post_data.published).toISOString().split('T')[0] %></span>
							</li>
						</ul>
					</div>
					<!-- === Sharethis === -->
					<div class="container mb-3">
						<div class="row d-flex justify-content-center">
							<div class="sharethis-inline-share-buttons"></div>
						</div>
					</div>
					<!-- === End of sharethis -->
					<div class="post-title text-center">
						<ul class="list-inline post-tag">
							<li class="list-inline-item">
								<span>Terakhir disunting pada: <%= new Date(post_data.updated).toISOString().split('T')[0] %></span>
							</li>
						</ul>
					</div>
					<!-- Post body -->
					<div class="post-body mt-5">
						<!-- Paragrapgh | DOM EJS -->
						<p class="overflow-auto" id="blog_paragraph" data-test-attr="<%= post_data.content %>"></p>
					</div>
				</article>		
			</div>
		</div>
	</div>
</section>
<!--====  End of Single Article  ====-->
<!-- ==== Add Comment | Disqus ====-->
<div class="container">
	<hr>
		<div class="row d-flex justify-content-center">
			<h2>Komentar</h2>
		</div>
	<hr>
</div>
<div class="container">
	<div id="disqus_thread"></div>
</div>
<!-- Disqus -->
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
	// Dynamic variables
	const PAGE_URL = window.location.href
	const PAGE_IDENTIFIER = PAGE_URL.split('/')[4];
    var disqus_config = function () {
		this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://holvamp-2.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- End of Disqus -->
<!-- ==== End of Add Comment ====-->
<!-- ==== ShareThis TANGGAPAN BEGIN ==== -->
<div class="container mb-5">
	<hr>
		<div class="row d-flex justify-content-center">
			<h2>Tanggapanmu</h2>
		</div>
	<hr>
	<div class="sharethis-inline-reaction-buttons"></div>
	<div class="sharethis-inline-share-buttons"></div>
</div>
<!-- ==== ShareThis TANGGAPAN END ====-->
<!-- JOIN-US -->
<%- include('layouts/join-us-layout') %>
<!--============================
=            Footer            =
=============================-->
<!-- ==== Blog DOM ==== -->
<script>
	const blog_paragraph = document.getElementById('blog_paragraph');
	const blog_paragraph_value = blog_paragraph.getAttribute('data-test-attr')
	$('#blog_paragraph').append(blog_paragraph_value)
</script>
<!-- ==== End of Blog DOM ==== -->
<!--==== Footer ====-->
<%- include('layouts/footer-layout') %>
<!--====  End of Footer  ====--> 