<!-- 
=============================================================
learns mengambil data dari Blogger API dan Holvamp's Database
=============================================================
-->
<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!--================================
=            Page Title            =
=================================-->
  <section class="section page-title">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <!-- Page Title -->
          <h1 class="learn-topic-text">
           Belajar <%= learn_topics_params %>
          </h1>
          <!-- Page Description -->
          <p class="blockquote mt-2 text-muted learn-topic-text"> 
            Berikut adalah kumpulan materi belajar <%= learn_topics_params %>
          </p>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </section>
  <!--====  End of Page Title  ====-->
  <section class="post-grid section pt-0">
  <div class="container">
    <div class="row">
      <% const learn_img = learn_topics_params %>
      <% const author_name = author %> 
        <% learn_topics.forEach(learn_topic => { %>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <article class="post-sm">
              <!-- Post Image -->
              <div class="post-thumb">
                <a href="/courses/<%= learn_topic.labels[0] %>/<%= learn_topic.id %>"><img class="w-100" src="/images/learns/<%= learn_img %>-course-banner.jpg" alt="learns-image"></a>		
              </div>
              <!-- Post Title -->
              <div class="post-title">
                <h3 style="font-weight: 500;"><a href="/courses/<%= learn_topic.labels[0] %>/<%= learn_topic.id %>"><%= learn_topic.title %></a></h3>
              </div>
              <!-- Post Meta -->
              <!-- Author -->
              <li class="list-inline-item">
                <a href="/courses/<%= learn_topic.labels[0] %>/<%= learn_topic.id %> "><cite>Oleh: <%= learn_topic.author.displayName %></cite></a>
              </li>
              <!-- Published -->
              <li class="list-inline-item">
                <cite>Disunting pada: <%= new Date(learn_topic.published).toISOString().split('T')[0] %></cite>
              </li>
              <div class="post-meta">
                <ul class="list-inline post-tag">
                  <!-- <li class="list-inline-item">
                    <img src="" alt="author-thumb">
                  </li> -->
                </ul>
              </div>
              <!-- Post Details -->
              <div class="post-details">
                <p style="color: #808080;">
  
                </p>
              </div>
            </article>
          </div>
        <% }) %>
      </div>
  </div>
  </section>
<!-- JOIN-US -->
<%- include('layouts/join-us-layout') %>
<!--=====================================
=            Footer			            =
======================================-->
<%- include('layouts/footer-layout') %>
<!--====  End of Footer  ====-->                                                                                                            
<script>
  // const text_total = document.getElementsByClassName('learn-topic-text');
  const text_learn_topic = document.getElementsByClassName('learn-topic-text');
  for(i = 0; i < text_learn_topic.length; i++){
    const element_string = text_learn_topic[i].innerHTML;
    text_learn_topic[i].innerHTML = element_string.replaceAll('-', ' ');
  }
</script>